body{
    background-color: lightblue;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    background-color: cyan;
}

nav{
    background-color: green;
}
div.header{
    display: inline-flex;
    justify-content:space-between; 
    /* background-color: rgba(0,0,0,0.8); */
    display: inline-flex;
    width: 90%; 
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    border-radius: 40px;
    box-shadow: 1px 1px 5px white;

}
div.navbrand{
    display: flex;
    
    /* width: 75%; */
}
div.navbrand a{
    color: white;
    padding: 5px;
}
div.navbrand img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-top: 5px;
}
div.navbrand span.navlogo{
    color: white;
    padding: 18px;
    font-weight: bolder;
    font-size: 1.5rem;
}
div.links{
   /*  width: 20%; */
    display: flex;
    
}
 hr{
    color: yellow;
    height: 3px;
} 
div.links ul{
    display:inline-flex;
    
    list-style: none;
    
}
div.links ul li{
    display: flex;
    margin: 0 20px;
}
div.links ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}
div.links ul li a.button{
    
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
    display: inline;
    border: 1px solid orangered;
    padding: 5px;
}
table.noti{
    background-color:darkblue; 
    color: white;
    width: 100%;
}
table.noti a{
    color: white;
    font-weight: bolder;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio .log h1 {
    padding-top: 30px;
    font-style: italic;
    color: maroon;
    font-family: georgia;
  }
  .portfolio img {
    width: 40%;
    height: 40%;
    margin: 20px;
    box-shadow: 2px 2px 5px black;
    border-radius: 7px;
  }
 

  div.count ul{
    list-style: none;
    display: inline-flex;
  }
  div.count li{
    font-family: georgia;
    font-size: 2rem;
    color: orangered;
    margin: 20px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px black;
    text-shadow: 2px 2px 5px black;
  }
  div.count li span{
    
    color: black;
  }
  

  /* portal styling */
.table{
    
}
@media (max-width:678px){
    body{
        margin: 0;
        overflow-x: hidden;
    }
    nav{
        width: 100%;
        
    }
    div.header{
        display: block;
       width: 95%;
        margin-top: 1%;
        border-radius: 40px;
        box-shadow: 1px 1px 5px white;
    }
    div.navbrand{
        display: flex;
        width: 100%; 
    }
    div.navbrand a{
        color: white;
        padding: 5px;
    }
    div.navbrand img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        padding-top: 5px;
    }
    div.navbrand span.navlogo{
        color: white;
        padding: 18px;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    div.links{
       /*  width: 20%; */
        display: flex;
        
    }
     hr{
        color: yellow;
        height: 3px;
    } 
    div.links ul{
        display:inline-flex;
        
        list-style: none;
        
    }
    div.links ul li{
        display: flex;
        margin: 0 8px;
    }
    div.links ul li a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 1.2rem;
    }
    div.links ul li a.button{
        
        border-radius: 10px;
        box-shadow: 2px 2px 5px white;
        display: inline;
        border: 1px solid orangered;
        padding: 5px;
    }
    table.noti{
        background-color:darkblue; 
        color: white;
        width: 100%;
    }
    table.noti tr{
        width: 100%;
    }
    table.noti td{
        margin-right: 7px;
        border: 1px solid black;
        font-size: 0.7rem;
        
    }
    div.count{
        margin-left: -40px;
    }
    div.count li{
        font-family: georgia;
        font-size: 1rem;
        color: orangered;
        margin: 3px;
        padding: 5px;
        border-radius: 7px;
        box-shadow: 1px 1px 3px black;
        text-shadow: 2px 2px 5px black;
      }
      table{
          width: 100%;
      }
}