body{
			
    background-image: url(assets/img/chuka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    color: red;
    background-color: white;
    

}
table{
    width: 100%;
    margin-top: 10%;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
    font-family: cursive;
    
}
h1{
    color:green;
    font-weight: bolder;
    text-shadow: 2px 2px 5px cyan;
    letter-spacing: 20px;
    word-spacing: 15px;
}
button{
    padding: 5px;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    background-color: green;
    color: wheat;
    box-shadow: 3px 3px 5px black;
}
@media (max-width:678px){
    body{
        
        overflow: hidden;
        height: 100%;
       
        background-repeat:no-repeat;
    }
    table{
        margin-top: 0%;
        width: 100%;
        padding-top: 30%;
        padding-bottom: 100%;
    }
    h1{
        color:green;
        font-weight: bolder;
        text-shadow: 2px 2px 5px cyan;
        letter-spacing: 13px;
        word-spacing: 10px;
    }
    button{
        padding: 5px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: green;
        color: wheat;
        box-shadow: 3px 3px 5px black;
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 1.4rem;
        font-family: cursive;
        
    }
}